@inject BlazorMVVM.Models.NumberViewModel Model

<div>
    <p>Enter a number:</p>
    <input type="number" oninput=@( (e)=>Model.Number= int.TryParse(e.Value.ToString(), out int value) ? value : Model.Number )/>
</div>